*{
    margin: 10px;
    font-family: serif;
    font: weight 700px;
}
body{
    background-color: black;
    color: #fff;
    padding: 3px;
}
span{
    color: brown;
}
.sub-title{
    color: darkred;
    font-weight: 500;
    text-decoration: underline;
}