*{
    margin: 5px;
    font-family: serif;
    font-weight: 400;
}
body{
    background-color: aqua;
    color: black;
    padding: 3px;
}
span{
    color: brown;
}
.sub-title{
    color: darkred;
    font-weight: 500;
    text-decoration: underline;
}